# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore any file you don't want to push
my_secret_file.txt
config.json

# Ignore environment variables file
.env
